@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar, allow scrolling */
.hide-scrollbar {
  overflow: scroll; /* or 'auto' */
  scrollbar-width: none; /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
